// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event_name {
  float: left;
  font-size: 30px;
  display: contents;
}

.description {
  font-size: 20px
}